<!-- <div class="row">
    <div class="col-sm">
        <a href ="/register/new" class="btn btn-success">New User</a> 
    </div>
    <div class="col-sm">
        <a href ="/Login/login" class="btn btn-success">Login</a> 
    </div>
    <div class="col-sm">
        <a href ="/Login/login" class="btn btn-success">log out</a> 
    </div>
    <div class="col-sm">
        <a href ="Profile/profile" class="btn btn-success">check profile</a> 
    </div>
</div> -->