<div class="form-group">
    <label for="title">Enter Username</label>
    <input required type="text" name="username" id="username" class="form-control">

    <label for="title">Enter password</label>
    <input required type="text" class="form-control">

</div>

<button type="submit" class="btn btn-primary">login</button>
<a href="/" class="btn btn-warning">go back</a>