* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #333;
  }
  
  .TestJob2 {
    font-family: sans-serif;
    width: 90vw;
    margin: 0 auto;
    padding: 2rem 0;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  ul {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 20px;
  }
  
  li {
    border: 1px solid #747272;
    padding: 10px;
    border-radius: 5px;
  }
  
  h3 {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  